body {
  font-family: Roboto, sans-serif;
  background-color: #00b5a9;
  width:  50%; 
  #margin-left:30%; 
  #margin-right:30%; 
  #margin-top: 20px;  
  #text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.top{
float: none;
}