body {
    font-family: Roboto, sans-serif;
    background-color: #00b524;
    width:  50%; 
    #margin-left:30%; 
    #margin-right:30%; 
    #margin-top: 20px;  
    #text-align:center;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
  }
  
  .logo{
    margin-left: 50% ;
    margin-right: 50%;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto ;
    width: 50%;
  }
  
  .tableau-style {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 1px solid #ddd;
  }

  thead tr { 
    background-color: midnightblue;
    color: #fff;
    text-align: left;
 }

 th, td {
    padding: 15px 20px;
}

tbody tr, td, th{
    border: 1px solid #ddd; 
}

tbody tr:nth-child(even){
    background-color: #f3f3f3;
}

tbody tr: last-of-type{  
  border-bottom: 2px solid ;
      
}

.top{
  float: none;
  }