body {
  font-family: Roboto, sans-serif;
  background-color: #00b5a9;
}
.menu {
  background-color: #999;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu li {
  list-style-type: none;
  flex-basis: 120px;
  text-align: center;
  margin: 0 0.3rem;
}
.menu a {
    display: block;
    padding: 0.5rem;
    background-color: #aaa;
    text-decoration: none;
    color: #111;
    border-bottom: 3px solid #333;
  }
  .menu a.active {
    color: #00b5a9;
    background-color: #e3fffd;
    border-color: #00b5a9;
  }
  .menu a:hover {
    color: #9e7f02;
    background-color: #f5e49f;
    border-color: #9e7f02;
  }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
<head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel='stylesheet' type='text/css' href='style.css' media='all'>
    </head>
    <body>
        <ul class="menu">
            <li><a href="#">Accuei</a></li>
            <li><a href="file:///C:/Users/Ahmed%20Boujemaoui/Desktop/Stage/club/index.html">Formulaire d'inscription</a></li>
            <li><a href=""></a></li>
            <li><a href="#">Liste des joueurs inscrit</a></li>
            <li><a href="file:///C:/Users/Ahmed%20Boujemaoui/Desktop/BTS/Zootickoon/exercice-css33/formTicket.html">Login</a></li>
        </ul>